*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./logos/stadium.jpg);
    display: flex;
justify-content: space-around;   
 height: 75vh;
 font-family: fantasy;

}

.container1{
    background:transparent;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 540px;
    padding: 65px;
    margin-top: 300px;
    margin-right: -300px;
    
}
.container2{
    background:transparent;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 540px;
    padding: 65px;
    margin-top: -50px;
    
}
.container3{
    background:transparent;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 540px;
    padding: 65px;
    margin-top: 300px;
    margin-left: -300px;
    
}
.container > .row{
    width: 100%;
    justify-content: space-evenly;
}
.row{
    display: flex;
    justify-content: space-between;

}
.col{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.name{
    margin: 20px 0px;
    font-size: x-large;
    color: #17ed14;
    font-weight: normal;
    padding: 1px;
    width: 113px;
    border-radius: 2%;
    background: blue;
    margin-top: 1px;
    text-align: center;
}
.pic{
    border-radius: 2%;
    width: 117px;
    height: 117px;

}
.score{
    font-size: xx-large;
    color: red;

}
.score > .runs{
    margin: 0px 5px;
}
 .runs >.col{
    height: 15px;
width: 15px;
background-color: white;
border-radius: 50%;
border:solid 1px black;
display: inline-block;
margin: 1px;
margin-top: -13px;
}

#strike-button{
    border: none;
    border-radius: 3px;
    background: linear-gradient(to left ,#00e6e6,blue);
    width: 109px;
    font-size: 16px;
    color: black;
    padding: 4px;
    margin-top: 84px;

}

#strike-button1{
    border: none;
    border-radius: 3px;
    background: linear-gradient(to left ,#00e6e6,blue);
    width: 109px;
    font-size: 16px;
    color: black;
    padding: 4px;
    margin-top: 84px;

}
#strike-button2{
    border: none;
    border-radius: 3px;
    background: linear-gradient(to left ,#00e6e6,blue);
    width: 109px;
    font-size: 16px;
    color: black;
    padding: 4px;
    margin-top: 84px;

}

